In [1]:
print(10)

10

In [2]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [3]:
print(4.)

4.0

In [4]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [5]:
print("jackallowz")
print(type("Hacktiv8"))

jackallowz
<class 'str'>

In [6]:
print("This string contains a single quote (') character.")

print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

In [7]:
print(type(True))

print(type(False))

<class 'bool'>
<class 'bool'>

In [8]:
n = 300

In [9]:
print(n)

300

In [10]:
a = b = c = 300
print(a, b, c)

300 300 300

In [11]:
a

300

In [12]:
b

300

In [13]:
c

300

In [14]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

In [15]:
var

"Now I'm a string"

In [16]:
print(var)

Now I'm a string

In [17]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [18]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

In [19]:
9_kepala_naga = True

SyntaxError: invalid decimal literal (687628429.py, line 1)

In [20]:
a = 10
b = 20
a + b

30

In [21]:
a=100
b=552
a+b

652

In [22]:
a = 10
b = 20
a + b - 5

25

In [23]:
a+b

30

In [24]:
a+b-a

20

In [25]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [26]:
a+b

7

In [27]:
a = 10
b = 20
print(a == b)

print(a != b)

print(a <= b)

print(a >= b)

False
True
True
False

In [28]:
a+b

30

In [29]:
a = 30
b = 30
print(a == b)

print(a <= b)

print(a >= b)

True
True
True

In [30]:
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)


print('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

In [31]:
s = 'foo.'

s * 4

'foo.foo.foo.foo.'

In [32]:
1=daniswara

SyntaxError: cannot assign to literal (2992821842.py, line 1)

In [33]:
daniswara=1

In [34]:
print(1)

1

In [35]:
dns=daniswara

In [36]:
print(dns)

1

In [37]:
dns = daniswara
print(dns)

1

In [38]:
print('Hacktiv8 ',a)

Hacktiv8  30

In [39]:
s = 'foo'

print(s in 'That food for us')

print(s in 'That good for us')

True
False

In [40]:
s = 'HackTIV8'

In [41]:
print(s.capitalize())

Hacktiv8

In [42]:
# Case Conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

In [43]:
a = ['foo', 'bar', 'baz', 'qux']

In [44]:
a

['foo', 'bar', 'baz', 'qux']

In [45]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

In [46]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

In [47]:
a = ['foo', 'bar', 'baz', 'qux']
c = ['foo', 'bar', 'baz', 'qux']

In [48]:
a==c

True

In [49]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [50]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [51]:
print(a[0])
print(a[5])

foo
corge

In [52]:
print(a[-1])
print(a[-6])

corge
foo

In [53]:
print(a[-2])
print(a[-4])

quux
baz

In [54]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [57]:
a[1:4]

['bar', 'baz', 'qux']

In [56]:
print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [58]:
print(a + ['grault', 'garply'])

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']

In [59]:
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [60]:
# len(), min(), max()

print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [61]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [62]:
print(a)

['foo', 'bar', 10, 'qux', 'quux', 20]

In [63]:
del a[3]

In [64]:
print(a)

['foo', 'bar', 10, 'quux', 20]

In [65]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

['bar', 'baz', 'qux']

In [66]:
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [67]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [68]:
print(t[0])

print(t[-1])

foo
corge

In [69]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

In [70]:
s1

'foo'

In [71]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [72]:
colorado

NameError: name 'colorado' is not defined

In [73]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [74]:
MLB_team['Kansas City'] = 'Royals'

In [75]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [76]:
MLB_team['Seattle'] = 'Seahawks'

In [77]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [78]:
del MLB_team['seattle']

KeyError: 'seattle'

In [79]:
del MLB_team['Seattle']

In [80]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [81]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [82]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [83]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [84]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [85]:
print(person['children'][0])

Ralph

In [86]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [87]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [88]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [89]:
person1_age = 42
person2_age = 16
person3_age = 71

In [90]:
someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [91]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

In [92]:
someone_is_of_working_age

True